*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width:100%;
    background-size: cover;
    background-image: url('background.jpg');
    color:white;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem;
    background: rgb(14, 19, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.section{
   
    margin:100vh;
    padding:10rem 9% 2rem;
}
.logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color:white;
    margin-left: 4rem;

}

.navbar a:hover
{
    color:skyblue;
    text-decoration: underline;
}
.navbar a::after{
    color: skyblue;
}
 
#menu-icon{
    font-size: 3.6;
    color:white;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width:10vw;
    padding:100px 20px;
    animation:floatImage1 5s ease-in-out infinite;
    
}
@keyframes floatImage1 {
    0%{
        transform:scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform:scale(0.9);
    }
    
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}
span{
    color:skyblue;
    font-weight: 600;

}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
  background: transparent;
  border:0.02rem solid rgb(145, 209, 234);
  border-radius: 50%;
  font-size: 2rem;
  color:white;
  margin:3rem 1.5rem 3rem 0;
transition: 0.5s ease;
}
.social-media a:hover{
    background:rgb(19, 124, 165);
    color:rgb(162, 176, 181);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
}
.btn{
    display: inline-block;
    padding: 0.2rem 1.8rem;
    background: rgb(60, 187, 238);
    margin-top:15px;
    border-radius:4rem;
    box-shadow: 0 0 1rem skyblue;
    font-size: 1.6rem;
    color:white;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s;
}
.btn:hover{
    box-shadow: none;
}
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    
}
.about-img img{
    width:10vw;
    padding:100px 20px;
    animation:floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translate(0);
    }
    
}
.heading{
    text-align:center;
    font-size: 3rem;

}
.about-content h2{
    text-align: left;
    line-height: 5rem;
    

}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1rem;
text-align:left;
    margin:2rem 0 3rem;

}
.se h2{
    font-size: 2.5rem;
    padding:100px;
    margin-bottom: -30px;
}

.se-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.se-box{
    background: transparent;
    padding: 1.5rem 3rem 1.5rem ;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid skyblue;
    transition: 0.5s linear;
}
.se-box:hover{
    border-color: rgb(28, 100, 215);
    border-radius: 20px;
    transform:scale(1.02);
    background-color: rgb(44, 2, 77);
    color:rgb(124, 231, 226);
    
}
.se-box h3{
    font-size:2rem;
}
 ul{
    text-align: left;
    font-size: 25px;
    margin-top:15px;
    margin-bottom: 15px;
color:rgb(9, 135, 219)
}
 li{
    font-size: 20px;
    color:white;
   margin:10px;
}

.certificates{
    padding: 50px 0;
}
.certificates h2{
    padding-top: 50px;
    margin-bottom: 0rem;
}
.c-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.c-container .c-box{
    flex:0 0 30rem; 
    background: transparent;
    padding: 3rem 2rem 4rem;
    text-align: center;
    transition: 0.5s ease;
}

.c-box{
height: 400px;
background-color: white;
}
.c-box img{
    height: 300px;
    border-radius: 2rem;
    padding:10px 0px 15px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
padding-left: 1rem;
padding-right: 1rem;
border: 0.2rem solid skyblue;

}
.c-box img:hover{
    box-shadow: 0 0 1rem;
    border-color: skyblue;
}


.portfolio-layer h4{
    font-size: 1.5rem;
    font-weight: 600;
    color:#f6f5f5;
}
.content-i{
    margin-top:180px;
    margin-bottom: 110px;
}
.c-left{
    flex-basis: 35%;
    color:white;
margin-right: 15px;
font-size: 25px;
}

.c-right{
    flex-basis: 60%;
    border: red;
}
.c-left p{
margin: 30px;
}

.btn.btn2{
    display: inline-block;
    background: #087599;
    margin-top: 80px;
    margin-left: 300px;
}
.c-right form{
    width: 100%;
    border: none;
    border-radius: 6px;
}
form input,form textarea{
    width: 100%;
    padding-top:10px;
    background: #020e35;
    color:#fff;
    font-size: 18px;
    outline: 0.2rem solid skyblue;
    border-radius:7px;
    text-align:start;
    margin-top:30px;
}

.c-right input:hover{

box-shadow:0 0 1rem skyblue;
}
.c-right textarea:hover{

    box-shadow:0 0 1rem skyblue;
    }

.content-i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding:0.3rem;
    background-color: rgb(13, 2, 41);
}
.f-text{
    font-size: 1rem;
}
.f-icon{
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0.4rem;
    background-color:transparent;
    border-radius: 0.8rem;
}
.f-icon:hover{
    background-color: skyblue;
}
.f-icon a i{
    font-size: 1.5rem;
    color: white;
}
